defaults       # стандартный набор поддерживаемых браузеров по умолчанию
>0.5%          # все браузеры, которыми пользуется более 0.5% пользователей в мире
not dead       # исключаем "мёртвые" браузеры (те, у которых нет обновлений 2+ года)
