root = true # этот файл корневой (редактор не будет искать другие .editorconfig выше в директориях)


[*] # секция для всех файлов проекта
charset = utf-8 # использовать кодировку UTF-8 (универсальный стандарт)
end_of_line = lf # символ конца строки — LF (Unix стиль, как в Linux/Mac; в Windows CRLF будет конвертироваться в LF)
insert_final_newline = true # в конце каждого файла должна быть пустая строка
indent_style = space # отступы делать пробелами (не табами)
indent_size = 2 # размер отступа — 2 пробела
trim_trailing_whitespace = true # автоматически удалять пробелы в конце строк