{
  "singleQuote": true, // использовать одинарные кавычки вместо двойных: 'текст' вместо "текст"
  "trailingComma": "all", // ставить запятую в конце объектов/массивов/аргументов функций, // чтобы при добавлении новых элементов меньше было диффов в git
  "semi": true, // ставить точку с запятой в конце каждой инструкции
  "printWidth": 100 // максимальная длина строки кода (после неё Prettier переносит строку)
}